<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="${GL_VERSION_CODE}" android:required="true" />
    <!-- Application config -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="${APP_ORIENTATION}"
            android:resizeableActivity="false"
            android:clearTaskOnLaunch="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.${APP_CATEGORY}" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="${APP_LIB_NAME}" />
        </activity>

    </application>

</manifest>
